body {
    background-color:rgb(59, 26, 3);
    background-image: url("img/rocks2.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}
header {
    padding: 5px;
    background-color: #852c04;
}
h1 {
    text-align: center;
    color: wheat;
    font-family: 'IM Fell DW Pica SC', serif;
    font-weight: normal;
    margin: 0px;
    font-size: 2.4em;
}
h3 {
    font-family: 'IM Fell DW Pica SC', serif;
    margin: 10px;
    font-size: 1.8em;
    font-weight: normal;
}
h3.win {
    font-size: 1.6em;
    margin: 3px;
}
h3.win-sub {
    font-size: 1.2em;
    margin: 0;
}
h3.game-over {
    font-size: 3em;
}
h4 {
    font-family: 'IM Fell DW Pica SC', serif;
    margin: 10px;
    font-size: 1.4em;
}
#main-container {
    display: flex;
    width: 100%;
}
#main-menu {
    width: 450px;
    background-color: #de9c63;
}
#game-hud {
    background-color:wheat;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.life {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin: 5px;
    background-color:rgb(255, 130, 130);
}
.life.full {
    background-color: limegreen;
}
#game {
    width: 100%;
}
.puzzle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.puzzle-button {
    box-sizing: border-box;
    background-color: wheat;
    margin: 3px;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    width: 150px;
}
.puzzle-button.help {
    text-align: center;
    margin: 20px;
}
.puzzle-button.active {
    border: solid 3px rgb(59, 26, 3);
    padding: 2px;
}
.puzzle-button.complete {
    background-color: limegreen;
    text-decoration: line-through;
}
.row {
    display: flex;
    justify-content: center;
}
.block {
    background-color:#f5deb3;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 3px;
}
.block.brush {
    background-color:rgb(253, 179, 105);
    background-image: url("img/brush-block.png");
    background-size: 100%;
}
.block.solid {
    /*background-color: rgb(86, 56, 0);*/
    background-color:#3b1a03;
}
.block.mistake {
    background-color:rgb(255, 130, 130);
    background-image: url("img/error-block.png");
    background-size: 100%;
}
.block.win {
    margin: 0;
    border-radius: 0;
    /*
    width: 10px;
    height: 10px;
    */
}
.row-div {
    width: auto;
    height: 3px;
}
.col-div {
    width: 3px;
    height: auto;
}
.nums {
    background-color:rgb(180, 110, 60);
    min-width: 30px;
    min-height: 30px;
    margin: 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
}
.nums.col {
    flex-direction: column;
    min-height: 180px;
}
.nums.row {
    min-width: 110px;
}
.nums.col.row {
    background-color:unset;
}
.number {
    margin: 2px;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
    color: rgb(59, 26, 3);
    background-color: #9a5b2f;
    border-radius: 15px;
}
.grid-container {
    display: grid;
    place-items: center;
    /*background-image: url("img/rocks2.jpg");*/
    min-width: 600px;
    min-height: 680px;
}
.grid-container.win {
    min-width: auto;
    min-height: 70%;
}
.grid-div {
    width: fit-content;
}
#tool-space {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.tool-button {
    box-sizing: border-box;
    background-color:wheat;
    width: 90%;
    height: 40%;
    border-radius: 8px;
    display: grid;
    place-items: center;
}
.tool-button.active {
    background-color: #de9c63;
    border: solid 3px #b54405;
}
.load-container {
    margin: 10px;
}
#load-area {
    resize: none;
}
.how-to-play {
    width: 700px;
    height: 600px;
    background-color: #de9c63;
    padding: 5px;
    border-radius: 5px;
}
.how-to-play p {
    margin: 15px 10px;
}
.how-to-play h3 {
    text-align: center;
}
.how-to-play.game-over {
    display: grid;
    place-items: center;
}
.create-controls {
    background-color:wheat;
    padding: 10px;
}
.create-controls label {
    font-weight: bold;
}
#export-area {
    resize: none;
}
.clear {
    display: flex;
    justify-content: flex-end;
}
img {
    width: 80px;
}
footer {
    text-align: end;
}